duckduckgo_search==6.3.7
Flask==3.1.0
flask_sqlalchemy==3.1.1
langchain==0.3.13
langchain_anthropic==0.3.1
langchain_community==0.3.13
langchain_core==0.3.28
langchain_openai==0.2.14
langchain_pinecone==0.2.0
langchain_text_splitters==0.3.4
llama_index==0.12.7
numpy==2.2.0
openai==1.58.1
pinecone==5.4.2
python-dotenv==1.0.1
Requests==2.32.3
scipy==1.14.1
