duckduckgo_search==7.2.1
Flask==3.1.0
flask_sqlalchemy==3.1.1
langchain==0.3.15
langchain_core==0.3.31
langchain_openai==0.3.1
langchain_pinecone==0.2.2
openai==1.59.9
pinecone==5.4.2
python-dotenv==1.0.1
